<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .container {
        margin: 5px;
        background-color: #fff;
      }
      .header {
        padding: 20px 20px 0 20px;
        display: flex;
        justify-content: center;
      }
      .header img {
        width: 90px;
        height: 30px;
      }
      .logo {
        width: 150px;
      }
      .body {
        padding: 20px;
      }
      .heading {
        text-align: center;
        color: #800;
      }
      .reset-token-button-wrapper {
        margin: 10px auto;
        text-align: center;
      }
      .reset-token-button-href {
        text-decoration: none;
      }
      .reset-token-button {
        padding: 10px 20px;
        background-color: #080;
        color: #fff;
        border: none;
        border-radius: 4px;
      }
      .instructions {
        margin-bottom: 20px;
      }
      .footer {
        text-align: center;
        padding: 10px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <img class="logo" src="https://picsum.photos/90/30" alt="Logo" />
      </div>
      <div class="body">
        <h2 class="heading">Password reset link</h2>
        <p class="greetings">Hi <b><%= userName %></b>,</p>
        <p class="instructions">
          Please click on the button below to reset your password.
        </p>
        <div class="reset-token-button-wrapper">
          <a class="reset-token-button-href" href="<%= resetPasswordLink %>"
            ><button class="reset-token-button">Reset password</button></a
          >
        </div>
        <p class="instructions">
          If the above button does not work for you, copy and paste the
          following link into your browser's address bar:
        </p>
        <a class="reset-token-url" href="<%= resetPasswordLink %>"
          ><%= resetPasswordLink %></a
        >
        <p class="warning">
          This link will remain valid for <%= resetTokenValidity %> minutes.
        </p>
        <p class="warning">Please don't share this link with anyone.</p>
        <p class="thank-you">
          Thanks,
          <br />
          <b>Multibourn</b>
        </p>
      </div>
      <div class="footer">
        © <%= new Date().getFullYear() %> Multibourn. All rights reserved.
      </div>
    </div>
  </body>
</html>
